nav {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  padding: 1.5rem;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: #fb8460;
}

nav a:active,
a:hover {
  color: #8d452d;
}
