.project-box {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 0;
  }
}

.project-card > img {
  width: 350px;
  @media (max-width: 600px) {
    width: 300px;
  }
}

.project-card {
  flex-basis: 350px;
  background-color: var(--pink);
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-details > img {
  margin-right: 1rem;
}
