.project-card {
  margin-top: 2rem;
  border: solid 1px var(--secondary-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}

.project-card img {
  width: 30%;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.project-card-text {
  width: 60%;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.project-card-text img {
  width: 48px;
  margin-right: 1rem;
}
