#skillset {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 1rem;
  padding-bottom: 2rem;
}

#skillset h4 {
  border-radius: 25px;
  border: 2px solid #7a7878;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}

#skills h4:hover {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #7a7878;
  }
  100% {
    box-shadow: 0 0 15px #7a7878, 0 0 25px #7a7878, 0 0 35px #7a7878;
  }
}
